@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: #262525

}
.albums{
    align-items: stretch;
    display:flex; 
    width: 100%;           
    height: 100vh;
    justify-content: space-between;
}
.left-part,
.middle-part,
.right-part{
    background: rgb(54, 54, 54);
    flex: 1;
    margin: 0px; 
    padding: 20px;  
    display: flex;
    flex-direction: column; 
}
.left-part {
    gap: 10px;
  flex: 2;   /* parte izquierda: pequeña */
}
.middle-part {
  flex: 3;   /* parte del medio: el doble de ancho que las otras */
}
.right-part {
  flex: 1;
}

/* left part*/
.go-back{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
    align-items: center;
    gap: 10px;     
    height: 5rem; 
}

#go-back{
    font-family: 'open Sans', cursive;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.back{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: relative;
    top: -1px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.cover-image{
    background: linear-gradient(to right,#0a4cb0,#cb6ce6);
    padding:1rem;
    border-radius: 7%;
    justify-content: center;
    height: 25rem;
    width: auto;
}
.Info-left-part{
  display: flex;
  width: 27rem;
  flex-direction: column;
  align-items: center;
  gap: 10px;


}

.top-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    gap: 10px;
}


 pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  font-family: inherit;
  text-align: start;
  max-width: 100%;
  max-height: 100%;
  
}

.left-inf{
    background-color: #8d54ff;
    border-radius: 1rem;
    height: 5rem;
    flex: 2;

}

.right-inf {
    background: linear-gradient(to right,#0a4cb0,#cb6ce6);
    border-radius: 1rem;
    height: 5rem;
    flex: 1;
}



.bottom-inf{
    background-color: #8d54ff;
    border-radius: 1rem;
    width: 100%;
}








.middle-part{
    display: flex;
    flex: column;
    background-color: #242323;
    text-align: flex-start;
    font-family: 'open Sans', cursive;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    overflow: hidden;
}
.information p{
    background: linear-gradient(to right,#0a4cb0,#cb6ce6);

}
.Track-list{
    height: 3rem;
}

.song-list {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;

}

.song {
    display: flex;          
    align-items: center;
    gap:20px;

}

.numbers {
    width: 3rem;
    font-size: 1.5rem;
}

.songs {
    flex: 1;
    padding: 8px;
    border-radius: 10px;
    background-color: #8d54ff;
}

.duration {
    width: 5rem;
    text-align: right;
}

.percentage{
    width: 5rem;
    font-size: 1.5rem;

}



















/*right part*/
.right-part{
    display: flex;
    flex: column;
    text-align: center;
    font-family: 'open Sans', cursive;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    overflow: hidden;
}
.right-part pre{
    font-family: 'Open Sans', cursive;
    white-space: pre-wrap;

}
.genres{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    white-space: pre-wrap;

}
.genres-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8d54ff;
    border-radius: 1rem;
    text-align: left;
    white-space: pre-wrap;
    margin: auto;
    height: 13rem;

}
.available{
    display: flex;
    height: 25rem;
    padding: 10px;
    align-content: center;
    align-items: flex-start;
    background-color: #8d54ff;
    border-radius: 1rem;
    justify-content: space-between;
    
}

.av-text{
    display: flex;
    align-items: flex-start;
    justify-content: space-around; 
    width: 10rem;
    height: 5rem;
    padding: 10px;    

}

.img-available{
    display:flex;
    flex-flow: row wrap;
    gap: 1px;
    justify-content: flex-start;
    align-items: flex-start;
}

.available img{
    width: 5rem;
    height: auto;
    border-radius: 15%;
    object-fit: cover;
}
